.package-container {
  padding-top: 4rem;
}
.background-image {
  background: url(../../assets/plans-background.jpg) center/cover;
  filter: grayscale(65%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
