.main-header {
  width: 100%;
  background: #2ddf5c;
  padding: 0.6rem 1rem;
  position: fixed;
  top: 0;
  z-index: 1;
}

.main-header__brand {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  font-size: 1.3rem;
  display: none;
  height: 1.5rem;
  width: 2rem;
  vertical-align: middle;
  margin-left: 20px;
}
.main-header__brand img {
  height: 100%;
  width: 100%;
}

.main-nav__item {
  display: inline-block;
  margin: 0 1rem;
}
.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

/* .main-nav__item a::after {
    content: "(Link)";
    color: red;
  }
   */

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

/* 
  p::first-letter {
    font-size: 20px;
    color: #4f140e;
  } */

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}
.main-nav {
  display: none;
  text-align: right;
  width: calc(100% - 95px);
  vertical-align: middle;
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item--cta a {
  color: white;
  background-color: red;
  padding: 0.5rem, 1rem;
  border-radius: 8px;
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: red;
  background: white;
  border: none;
}

@media (min-width: 40rem) {
  .main-header__brand {
    display: inline-block;
  }
  .main-nav {
    display: inline-block;
  }
}
