.main-footer {
  background: rgb(13, 40, 13);
  padding: 0.2rem;
}
.footer-list {
  list-style: none;
  text-align: right;
  margin-right: 1.9rem;
}
.footer-feature {
  display: inline-block;
  margin: 0px 1rem;
  color: white;
}

.footer-feature > a {
  color: white;
  text-decoration: none;
}
.footer-feature > a:hover,
.footer-feature > a:active {
  color: antiquewhite;
}
