.main-footer {
  background: rgb(13, 40, 13);
  padding: 0.2rem;
}
.footer-list {
  list-style: none;
  margin-right: 1.9rem;
}
.footer-feature {
  margin: 1rem auto;
  color: white;
  max-width: 8rem;
}

.footer-feature > a {
  color: white;
  text-decoration: none;
}
.footer-feature > a:hover,
.footer-feature > a:active {
  color: antiquewhite;
}
@media (min-width: 40rem) {
  .footer-feature {
    display: inline-block;
    margin: 0px 1rem;
  }
  .footer-list {
    text-align: right;
  }
}
