.main-footer {
  background: rgb(13, 40, 13);
  padding: 0.2rem;
  margin-top: 1rem;
}
.footer-list {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-feature {
  color: white;
  max-width: 8rem;
  margin-top: 0.4rem;
}

.footer-feature > a {
  color: white;
  text-decoration: none;
}
.footer-feature > a:hover,
.footer-feature > a:active {
  color: antiquewhite;
}
@media (min-width: 40rem) {
  .footer-feature {
    margin: 0px 1rem;
  }
  .footer-list {
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 1rem;
  }
}
